body
{
    background-color: rgb(176, 175, 173);
}

#grid
{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, minmax(150px, auto));
    grid-gap: 5px;
}

/*header
.header
{
    grid-column: 1/7;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,50px);
}*/

.name
{
    color: rgb(0, 0, 0);
    grid-column: 1/7;
    grid-template-rows: 2/3;
    text-align: center;
    padding: 0 0 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-style: bold;

    margin: 70px;
    

}

/*.navigation
{
    grid-row: 1/2;
    grid-column: 4/7;
}*/

ul li
{
    display: inline-block;
    width: 150px;
}

ul li a
{
    text-decoration: none;
    color: white;

    border: solid black 1px;
    border-width: 5px;
    border-radius: 10px;
    background-color: black;
}

.button
{
    text-decoration: none;
    color: black;
    margin: 200px 20px 20px 20px;
    padding: 20px;

    border: solid orange 2px;
    background-color: orange;
    border-radius: 50px;
}

/*main*/
.main
{
    grid-column: 1/7;
    grid-row: 3/6;
}

/*footer*/
.footer
{
    margin: 70px;
    grid-column: 1/7;
    grid-row: 6/8;
}
